# Logical Operators

## 1. Logical OR

In [8]:
a = 10
b = 20
print((a == b) or (b >= a))
print((a <= b) or ( b > 100))
print((a > b) or (b < a))

True
True
False

## 2. Logical AND

In [11]:
a = 10
b = 20

print((a <= b) and (b >= a))
print((a > b) and (b > a))
print((a == b) and (a <= b))

True
False
False

## 3. Logical NOT

In [14]:
a = 10
b = 20

print((a <= b) and not(b >= a))
print((b <= a) or not(a < b))
print(not(a < b) and not (b >= a))

False
False
False

In [18]:
print(True * True)
print(True * False)
print(False * False)
print(not(False) * True)

1
0
0
True

# BODMAS OPERATION

In [23]:
print((3*4) + (4/2)/ 2)
print((2 * 3 + 40) /5)

13.0
9.2

# EQUALITY OPERATOR

In [28]:
list_a = [1,2,3,4,5]
list_b = [1,2,3,4,5]
print(id(list_a))
print(id(list_b))

# is = It check whether the memory address of two object are same or not
print(list_a is list_b)

# is not = It checks if one entity does not have the same memory address as another entity
print(list_a is not list_b)

# == It checks if both objects have the same value
print(list_a == list_b)

# != It checks if both the objects does not have the same value
print(list_a != list_b)

140159100490048
140159100509952
False
True
True
False

In [29]:
str1 = "Krisk"
str2 = "Krish"
print(id(str1))
print(id(str2))

140159400498736
140159100130672

In [30]:
print(str1 is str2)
print(str1 is not str2)

False
True

In [31]:
print(str1 == str2)
print(str1 != str2)

False
True

In [32]:
# Strings are immutable and we cannot change any character at any index position in the string.
str1 = "Krish"
str1[2] = 'a'
print(str1)

TypeError: 'str' object does not support item assignment

# Arithmetic Operators

In [36]:
a = 20
b = 10

print("Addition is:", (a + b))
print("Substraction is:", (a - b))
print("Multiplication is:", (a * b))
print("Division is:", (a / b))
print("Remainder is:", (a % b))
print("Before Division is:", (a // b))

Addition is: 30
Substraction is: 10
Multiplication is: 200
Division is: 2.0
Remainder is: 0
Before Division is: 2

# Bitwise Operators

In [37]:
a = 20
b = 10

print(a & b)
print(a | b)
print(a ^ b)
print(~a & ~b)
print(a << 2)
print(b >> 1)

0
30
30
-31
80
5

In [38]:
# binary value of a number
car = 10
print(bin(car))

0b1010

# Strings

In [39]:
str1 = "Welcome to Data Science Masters"
print(type(str1))

<class 'str'>

In [40]:
# Indexing in string
print(str1[0])

W

In [41]:
# Strings are immutable
str1[0] = 'a'
print(str1)

TypeError: 'str' object does not support item assignment

In [42]:
# Replacing one portion of string with another
str = "Parag Pujari"
print(str.replace("Pujari","Abha"))

Parag Abha

In [48]:
# Slicing
print(str[5:])
print(str[0:6])
print(str[-1])
print(str[-6:-2])
print(str[-6:5])

 Pujari
Parag
i
Puja

In [49]:
name = "Karthik"
print(name[-6:-2])

arth

In [50]:
# Reverse the string
res = str[::-1]
print(res)

irajuP garaP

In [53]:
# every fifth element
print(str[::5])
print(str[::-2])

P r
iau aa

In [58]:
print(str)
print(str[::-1])
print(str[6::-1])
print(str[4::-2])

Parag Pujari
irajuP garaP
P garaP
grP

In [62]:
course_name = "Data Science Masters"
print(course_name[5:12])
print(course_name[12:5:-1])
print(course_name[::-1])
print(course_name[14:3:-2])

Science
 ecneic
sretsaM ecneicS ataD
a cec

In [63]:
print("Hello" + "World")

HelloWorld

In [64]:
print("Hello" * 5)

HelloHelloHelloHelloHello

In [65]:
print(course_name * 5)

Data Science MastersData Science MastersData Science MastersData Science MastersData Science Masters

In [66]:
print(len(course_name))

20

In [69]:
# find fucntion
print(course_name)
print(course_name.find('a',2,10))

Data Science Masters
3

In [72]:
print(course_name.count('a'))
print(course_name.count(' '))
print(course_name.count('M'))

3
2
1

In [75]:
# string split
print(course_name.split(' '))

['Data', 'Science', 'Masters']

In [7]:
# split with respect to s
print(course_name.split('S'))

['Data ', 'cience Masters']

In [80]:
# partition the string with respect to 'S'
print(course_name)
print(course_name.partition('S'))

# partition the string with respect to 's'
print(course_name.partition('s'))

Data Science Masters
('Data ', 'S', 'cience Masters')
('Data Science Ma', 's', 'ters')

In [85]:
print(course_name)
print(course_name.upper())
print(course_name.lower())
print(course_name.title()) # every first letter word is in capital

Data Science Masters
DATA SCIENCE MASTERS
data science masters
Data Science Masters

In [2]:
course_name = 'Data Science Masters'
print(course_name)

# swapcase = converts the lower to upper case and upper case to lower case.
print(course_name.swapcase())

Data Science Masters
dATA sCIENCE mASTERS

In [4]:
print(course_name.capitalize()) # make the first letter of the word in capital letter

Data science masters

In [8]:
# reverse the string
print(reversed(course_name)) # reversed = it returns the reversed iterator of the object in the string.

print(' '.join(reversed(course_name)))

<reversed object at 0x7fcd4843f670>
s r e t s a M   e c n e i c S   a t a D

In [9]:
' '.join("Parag")

'P a r a g'

In [10]:
' '.join(reversed("ant"))

't n a'

In [11]:
' Pwskills  '.join(reversed("ant"))

't Pwskills  n Pwskills  a'

In [13]:
str = "PW Skills is a good company"

# reverse the string
print(' '. join(reversed(str)))

y n a p m o c   d o o g   a   s i   s l l i k S   W P

In [19]:
# Removing the characters from the end of the string.
string = " pwskills  "
# remove the characters from both sides of the string
print(string.strip())

# remove the characters from the left side of the string
print(string.lstrip())

# remove the characters from the right side of the string
print(string.rstrip())

pwskills
pwskills
 pwskills

In [20]:
# replace = replace one string with another
strings = "Greetings to PWSkills"
print(strings.replace("to", "from"))

Greetings from PWSkills

In [24]:
'hello \t world'.expandtabs() # expand tab is used to add the spaces.

'hello    world'

In [27]:
print(string.isupper())

False

In [28]:
print(string.islower())

True

In [31]:
print(string.isspace())

False

In [33]:
strs = " "
print(strs.isspace())

True

In [37]:
# To check if the string is alphanumeric or not
texts = "12abgs#utn67"
print(texts.isalnum())


text = "12shgfbv34"
print(text.isalnum())

False
True

In [38]:
text = "Parag Pujari is working"
# To count the number of characters in the string
count = 0
for i in text:
    count = count + 1
print("Number of characters in the string is:", count)

Number of characters in the string is: 23

In [41]:
for i in range(0, len(text) ):
    print(text[i], end = " ")

P a r a g   P u j a r i   i s   w o r k i n g

In [44]:
# To check if the string is Palindrome or not
str = input("Enter the string:")
print(str)

if(str == str[::-1]):
    print("Strings are palindrome:", str)
else:
    print("Strings are not palindrome:", str)

Enter the string: madam

madam
Strings are palindrome: madam

In [57]:
name = "Parag Pujari"
nv = 0
nc = 0
# To check how many words are vowel and how many words are consonants
vowels = list('aeiouAEIOU')
print("Vowels are:",vowels)
for i in name:
    if(i in vowels):
        nv = nv + 1
    else:
        nc = nc + 1
print("No of Vowels are:", nv)
print("Number of Consonants are:", nc)

Vowels are: ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
No of Vowels are: 5
Number of Consonants are: 7