In [1]:
a = 'c'

In [2]:
type(a)

str

In [3]:
int('10')

10

In [4]:
int()

0

In [5]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [6]:
print("Hello World")

Hello World

In [7]:
print(123)

123

In [8]:
print('Hello World')

Hello World

# String Formatting

In [18]:
age = 27
print("My age is:", age)

My age is: 27

In [19]:
age = 27
print("My age is {}".format(age))

My age is 27

In [20]:
age = 27
name = "Parag"
print("My name is {1} and my age is {0}".format(27,"Parag"))

My name is Parag and my age is 27

In [21]:
name = "Parag"
degree = "M.Tech"
print("My name is {0} and I have completed my {1} degree".format(name,degree))

My name is Parag and I have completed my M.Tech degree

In [22]:
name = "Parag Pujari"
age = 27
degree = "M.Tech"
print("My age is {1} and I have completed: my degree of {2} with the name of {0}".format(name, age, degree))

My age is 27 and I have completed: my degree of M.Tech with the name of Parag Pujari

# Control Flow ( Decision Making Statements)

## 1. if statement

In [23]:
num = int(input("Enter the number:"))
if(num > 0):
    print("Number is Positive:",num)

Enter the number: 12

Number is Positive: 12

## 2. if-else statement

In [24]:
num = int(input("Enter the number:"))
if(num > 0):
    print("Number is Positive:",num)
else:
    print("Number is Negative:",num)

Enter the number: 22

Number is Positive: 22

## 3. elif statement

In [25]:
num = int(input("Enter the number:"))
if(num > 0):
    print("Number is Positive:", num)
elif(num < 0):
    print("Number is Negative:", num)
else:
    print("Number is neutral:", num)

Enter the number: 0

Number is neutral: 0

### Task 1

In [29]:
age = int(input("Enter the age:"))
if(age >= 18 and age  <= 45):
    print("you are young blood")

Enter the age: 34

you are young blood

## Task2

In [31]:
product_price = int(input("Enter the price:"))
if(product_price > 1000):
    print("The price of the product is", (product_price - (0.2*product_price)))
elif(product_price <= 1000):
    print("The price of the product is", (product_price - (0.3*product_price)))

Enter the price: 234

The price of the product is 163.8

## 4. Nested-if Statements

In [32]:
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
c = int(input("Enter the third number:"))

if(a > b):
    if(a > c):
        print("Largest Number is:",a)
    else:
        print("Largest Number is:",c)
else:
    if(b > c):
        print("Largest Number is:", b)
    else:
        print("Largest Number is:", c)

Enter the first number: 10
Enter the second number: 20
Enter the third number: 15

Largest Number is: 20

### Task3: print grades based on marks

In [35]:
marks = int(input("Enter the marks:"))
if(marks >= 90):
    print("S Grade:")
elif(marks >= 80 and marks  < 90):
    print("A Grade:")
elif(marks >= 70 and marks < 80):
    print("B Grade:")
elif(marks >= 60 and marks < 70):
    print("C Grade:")
elif(marks >= 50 and marks < 60):
    print("D Grade:")
else:
    print("Fail")

Enter the marks: 96

S Grade:

# LOOPS

## 1. For Loop

In [42]:
# Factorial of a number
fact = 1
num = int(input("Enter the number:"))
for i in range(1,num+1):
    fact = fact * i
print("Factorial of a number is:", fact)

Enter the number: 5

Factorial of a number is: 120

In [43]:
# Print the elements in the list
list = [10,20,30,40,50,60,70,80,90,100]
for i in list:
    print(i, end = ' ')

10 20 30 40 50 60 70 80 90 100

## 2. While Loop

In [45]:
# Palindrome of a number
num = int(input("Enter the number:"))
rev = 0
x = num
while(x != 0):
    d = x % 10
    rev = (rev * 10) + d
    x = x // 10
if(rev == num):
    print("Number is Palindrome:", num)
else:
    print("Number is not Palindrome:", num)

Enter the number: 121

Number is Palindrome: 121

In [46]:
# Armstrong of a Number
num = int(input("Enter the number:"))
sum = 0
x = num
while(x != 0):
    d = x % 10
    sum = sum + (d * d * d)
    x = x // 10
if(sum == num):
    print("Number is Armstrong:", num)
else:
    print("Number is not Armstrong:", num)

Enter the number: 153

Number is Armstrong: 153

## 3. Nested Loops

In [49]:
for i in range(1,7):
    for j in range(1,i):
        print("*", end = '')
    print("\n")

*

**

***

****

*****

# 1. Break

In [51]:
# To check if the number is prime or not

num = int(input("Enter the number:"))
flag = True

for i in range(2, (num)):
    if((num % i) == 0):
        flag = False
        break
if(flag == True):
    print("Number is Prime:", num)
else:
    print("Number is not Prime:", num)

Enter the number: 11

Number is Prime: 11

# 2. Continue

In [54]:
# To skip all the numbers that are divisible by 3

num = int(input("Enter the number:"))
for i in range(1,(num+1)):
    if((i % 3) == 0):
        continue
    print("Numbers are:",i)

Enter the number: 100

Numbers are: 1
Numbers are: 2
Numbers are: 4
Numbers are: 5
Numbers are: 7
Numbers are: 8
Numbers are: 10
Numbers are: 11
Numbers are: 13
Numbers are: 14
Numbers are: 16
Numbers are: 17
Numbers are: 19
Numbers are: 20
Numbers are: 22
Numbers are: 23
Numbers are: 25
Numbers are: 26
Numbers are: 28
Numbers are: 29
Numbers are: 31
Numbers are: 32
Numbers are: 34
Numbers are: 35
Numbers are: 37
Numbers are: 38
Numbers are: 40
Numbers are: 41
Numbers are: 43
Numbers are: 44
Numbers are: 46
Numbers are: 47
Numbers are: 49
Numbers are: 50
Numbers are: 52
Numbers are: 53
Numbers are: 55
Numbers are: 56
Numbers are: 58
Numbers are: 59
Numbers are: 61
Numbers are: 62
Numbers are: 64
Numbers are: 65
Numbers are: 67
Numbers are: 68
Numbers are: 70
Numbers are: 71
Numbers are: 73
Numbers are: 74
Numbers are: 76
Numbers are: 77
Numbers are: 79
Numbers are: 80
Numbers are: 82
Numbers are: 83
Numbers are: 85
Numbers are: 86
Numbers are: 88
Numbers are: 89
Numbers are: 91
Numbers are: 92
Numbers are: 94
Numbers are: 95
Numbers are: 97
Numbers are: 98
Numbers are: 100

# 3. Pass

In [56]:
for i in range(1,100):
    if(i == 72):
        pass