# TUPLES

## Creation of Tuples

In [5]:
# Empty Tuples

tuples = ()
print(tuples)

# tuples having integers
tup1 = (1,2,3,4,5)
print(tup1)
print(type(tup1))


# tuples having mixed datatypes
tup2 = (10,20.32, 7+9j, "sudh", True)
print(tup2)

# tuples having one element
tup3 = (10,)
print(tup3)

()
(1, 2, 3, 4, 5)
<class 'tuple'>
(10, 20.32, (7+9j), 'sudh', True)
(10,)

## Accessing elements from the tuple

In [19]:
# Accessing the elements from the tuple
print(tup2)

print(tup2[1])
print(tup2[3])

for i in tup2:
    print(i, end = ' ')
    
t = ( 'satish','murali','naveen','srinu','brahma')
print(t[-1])

# Reverse of the tuple
print(t[::-1])

print(t[::-2])

print(t[::3])

# Nested Tuples
t1 = ('ABC',('satish','naveen','srinu'))
print(t1[1][2])

print(tup2)
print(tup2[:3])

(10, 20.32, (7+9j), 'sudh', True)
20.32
sudh
10 20.32 (7+9j) sudh True brahma
('brahma', 'srinu', 'naveen', 'murali', 'satish')
('brahma', 'naveen', 'satish')
('satish', 'srinu')
srinu
(10, 20.32, (7+9j), 'sudh', True)
(10, 20.32, (7+9j))

## Operations of Tuples

In [24]:
tup3 = (10,10,20,20,20,30,30,30,40,50,60,70,70,80,90,90,100)
# count() = counts the number of elements from the tuples
print(tup3.count(30))
print(tup3.count(90))

# index() = It returns the index position of the element from the tuple
print(tup3.index(20))
print(tup3.index(90))

3
2
2
14

In [26]:
# Tuples are immutable and they cannot be chaged
print(tup3)
tup3[3] = 80
print(tup3)

(10, 10, 20, 20, 20, 30, 30, 30, 40, 50, 60, 70, 70, 80, 90, 90, 100)

TypeError: 'tuple' object does not support item assignment

In [27]:
# Concatenation in the Tuples
tupl1 = (10,20,30,40)
tupl2 = (50,60,70,80)
print(tupl1 + tupl2)

(10, 20, 30, 40, 50, 60, 70, 80)

In [28]:
# Deletion in Tuples

del tup3

In [29]:
print(tup3)

NameError: name 'tup3' is not defined

In [30]:
# Tuple membership

print(tupl1)

(10, 20, 30, 40)

In [31]:
print(10 in tupl1)

print(50 not in tupl1)

True
True

In [32]:
# Length of the Tuples
l = len(tupl1)
m = len(tupl2)

print(l)
print(m)

4
4

In [34]:
# Sorting in the Tuples

tupl4 = (10,20,30,40,50,60,70)

print(sorted(tupl4))

print(sorted(tupl4, reverse = True))

[10, 20, 30, 40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10]